bandit==1.7.5
beautifulsoup4==4.11.1
black==22.3.0
boto3==1.21.40
boto3-stubs==1.26.133
botocore==1.24.40
botocore-stubs==1.29.130
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2
gitdb==4.0.10
GitPython==3.1.31
# Editable install with no version control (gpu-alert==0.1.0)
-e /Users/jannic_holzer/development/projects/gpu-alert
idna==3.3
isort==5.12.0
jmespath==1.0.0
lxml==4.9.2
markdown-it-py==2.2.0
mdurl==0.1.2
mypy==1.3.0
mypy-extensions==0.4.3
numpy==1.22.3
packaging==23.1
pathspec==0.9.0
pbr==5.11.1
platformdirs==2.5.1
Pygments==2.15.1
python-dateutil==2.8.2
PyYAML==6.0
requests==2.27.1
rich==13.3.5
s3transfer==0.5.2
six==1.16.0
smmap==5.0.0
soupsieve==2.3.2.post1
stevedore==5.0.0
tomli==2.0.1
types-awscrt==0.16.17
types-beautifulsoup4==4.12.0.5
types-html5lib==1.1.11.14
types-requests==2.30.0.0
types-s3transfer==0.6.1
types-urllib3==1.26.25.13
typing_extensions==4.1.1
urllib3==1.26.9
